body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.buts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
